.header {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
}

#title {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.themeChangeBtn {
  background: none;
  border: none;
}

.btn {
  border: none;
  transition: transform 150ms ease-in-out;
  text-decoration: none;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.btn:active {
  transform: scale(1);
}
