.footer {
  background-color: #c9ada7;
}

.contactInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw 0 1vw 0;
}

.email,
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0;
  margin: 0;
  transition: transform 150ms ease-in-out;
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.email:hover,
.copy:hover,
.github:hover {
  opacity: 70%;
  cursor: pointer;
}
