* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2e9e4;
  color: #22223b;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.darkmode {
  z-index: 0;
  background-color: #22223b;
  color: #f2e9e4;
}

.altDarkmode {
  z-index: 0;
  background-color: #4a4e69;
  color: #f2e9e4;
}

.star {
  z-index: 0;
  position: absolute;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  animation-name: starTwinkle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes starTwinkle {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0%;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
