* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2e9e4;
  color: #22223b;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.darkmode {
  background-color: #22223b;
  color: #f2e9e4;
}

.altDarkmode {
  background-color: #4a4e69;
  color: #f2e9e4;
}
